In [1]:
num=12
name="Behzad"

In [2]:
print ('My name is {} and my number is {}'.format(name,num)) # Formating

My name is Behzad and my number is 12

In [3]:
print ('My name is {v1} and my number is {v2}, and type {v1} again'.format(v2=num,v1=name))

My name is Behzad and my number is 12, and type Behzad again

In [4]:
my_list = ['a', 'b','c'] # Creates a list - use brackets

In [5]:
my_list.append('d') # Adds to the list # These commands after "." are called METHODs

In [6]:
print(my_list)

['a', 'b', 'c', 'd']

In [7]:
my_list.pop(1) # Pops out (removes) the specified index

'b'

In [8]:
my_list

['a', 'c', 'd']

In [9]:
list2=['a','b','c',['e','f',['g','h']]] # Creates a nested list

In [10]:
list2[3][2]

['g', 'h']

In [11]:
list2[3][2][1]

'h'

In [30]:
dic1 = {'key1':'value1','key2':3,'key3':[1,2,3],'key4':['a','b','c']} # Creates a dictionary - use curly brackets

In [34]:
## or # dic1 = {'key1':'value1','key2':3,'key3':[1,2,3],'key4':'a b c'.split()}

In [36]:
dic1

{'key1': 'value1', 'key2': 3, 'key3': [1, 2, 3], 'key4': ['a', 'b', 'c']}

In [43]:
dic1['key3'][1]

2

In [44]:
dic2 = {'key1':[1,2,3],'key2':{'k1':1,'k2':['a','b','c']}} # Creates a nested dictionary

In [45]:
dic2['key2']['k2'][2]

'c'

In [64]:
# xyz=[1,2,3] creates a LIST, xyz=(1,2,3) creates a TUPLE: TUPLES are immutable, meaning users can't change them (for example, can't append to it)

In [58]:
set1 = {1,2,2,2,3,3,3} # Creates a SET, where elemnts are always unique

In [59]:
set1

{1, 2, 3}

In [61]:
set1.add(5)

In [62]:
set1

{1, 2, 3, 5}

In [72]:
seq = [1,2,3,4,5]
for ii in seq:
    print(ii)

1
2
3
4
5

In [1]:
ii=1
while ii < 5:
    print('Value of ii is: {}'.format(ii))
    ii=ii+1

Value of ii is: 1
Value of ii is: 2
Value of ii is: 3
Value of ii is: 4

In [46]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [47]:
nums=[1,2,3,4,5]

In [50]:
vars = []
for xx in nums:
    vars.append(xx**2)
print(vars)

[1, 4, 9, 16, 25]

In [53]:
vars2 = [xx**2 for xx in nums] # List comprehension
print(vars2)

[1, 4, 9, 16, 25]

In [55]:
def my_func(name='Default Name', lastname='None'): # If you do not specify the 'name' variable, it'll use the default value given here
    print('Hello {v1} {v2}'.format(v1=name, v2=lastname))

In [56]:
my_func('Behzad', 'A')

Hello Behzad A

In [57]:
my_func(name='Behzad', lastname='A')

Hello Behzad A

In [58]:
my_func()

Hello Default Name None

In [59]:
def square(num):
    """
    This is documentaion string
    This function squares the given number
    """
    return num**2

In [60]:
square(3)

9

In [61]:
nums=[1,2,3,4,5]

list(map(square,nums)) # MAPPING the function to all the elements of a list - LIST will convert it to a list
## map function itself returns a map type variable, not a list, so it needs to be converted

[1, 4, 9, 16, 25]

In [67]:
square2 = lambda num: num**2 # LAMBDA expression : Similar to a FUNCTION, but without the extra common terms

In [76]:
func1 = lambda xx: xx%2==0 # Returns True only when the number is an even number
func1(5)

False

In [80]:
square2(4)

16

In [87]:
list(map(lambda xx: xx*2, nums)) # It's like saying apply these calculatons on all of the elemnts of this list

[2, 4, 6, 8, 10]

In [94]:
list(filter(lambda xx: xx<4, nums)) # FILTER only keeps the values operated by function and removes the rest

[1, 2, 3]

In [95]:
list(filter(lambda xx: xx%2==0, nums)) # Only returs elemnts that are even (remainder of division by 2 is zero)

[2, 4]

In [96]:
txt = "Hello My Name is Behzad"

In [97]:
txt.lower()

'hello my name is behzad'

In [98]:
txt.upper()

'HELLO MY NAME IS BEHZAD'

In [99]:
txt.split()

['Hello', 'My', 'Name', 'is', 'Behzad']

In [100]:
txt.split()[2]

'Name'

In [101]:
tweet = "Go Sports! #Sport #Fun"

In [102]:
tweet.split('#')

['Go Sports! ', 'Sport ', 'Fun']

In [103]:
1 in [1,2,3] # Checks if the element is IN that list

True

In [104]:
'x' in [1,2,3]

False

In [121]:
xx=[(1,2),(3,4),(5,6)]

In [122]:
for item in xx:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [123]:
for a,b in xx: # TUPLE UNPACKING - It can also be written as: for (a,b) in xx: print(a)
    print(a)   # xx can be a tuple or a list - this aproach will work either way

1
3
5